<footer>
  <style type="text/css">
    li {
      display: inline-block;
      margin-right: 15px;
    }
    i {     
      display: block;     
      position: relative;       
      padding: 15px;     
  }
  </style>
 

	<!-- Your custom nav footer here -->
	<ul>
		{% if site.github_username %}
      <li>
    		<a href="https://github.com/{{ site.github_username }}">
      			<i class="fa fa-github"></i> 
    		</a>
      </li>
		{% endif %}

		{% if site.linkedin_username %}
      <li>
    			<a href="https://linkedin.com/in/{{ site.linkedin_username }}">
     				<i class="fa fa-linkedin"></i> 
    			</a>
      </li>
		{% endif %}

		{% if site.google_plus_username %}
      <li>
    			<a href="https://plus.google.com/+{{ site.google_plus_username }}">
     				<i class="fa fa-google-plus"></i>
    			</a>
      </li>
		{% endif %}

		{% if site.facebook_username %}
      <li>
    			<a href="https://www.facebook.com/{{ site.facebook_username }}">
      				<i class="fa fa-facebook"></i> 
    			</a>
      </li>
		{% endif %}

		{% if site.facebook_username %}
      <li>
    			<a href="https://www.instagram.com/{{ site.instagram_username }}">
      				<i class="fa fa-instagram" aria-hidden="true"></i>
    			</a>
      </li>
		{% endif %}
</ul>


</footer>